@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:20px;">
    <p style="text-align:center;font-weight:bold;font-size:25px;">SERVICIO DEL CLIMA</p>
    <hr class="new4" />
</div>
<style type="text/css">
    .box-content {
	display: inline-block;
	/*width: 200px;
    padding: 10px;*/
}

.bottom {
	border-bottom: 20px solid #d3d3d3;
}
.right2{
    border-right: 3px solid #d3d3d3;
}
.right {
	border-right: 50px solid #d3d3d3;
}
.diaHead{
    text-align:center;
    font-size:15px;
    color:blue;
}
.imageAttr{
     text-align:center;
}
.lblGrados{
    text-align:center;
}
hr.new1 {
  border-top: 1px solid blue;
}
hr.new4 {
  border: 2px solid salmon;
}
.col-xs-6{
    height:250px;
}
</style>

<!-- En un móvil las columnas ocupan la mitad del dispositivo y en un
     ordenador ocupan la tercera parte de la anchura disponible -->
<div class="row bottom" style="background-color:white;">
    <div class="col-xs-6  box-content right">
        <div>
            <p style="text-align:center;font-size:19px;color:blue;">Seleccioná la zona</p>
        </div>
        <hr class="new1">
        <div>
            <label style="margin-left:40px;">Pais</label>
        </div>
        <div>
            <select id="pais" name="select" style="width:80%;margin-left:40px;">
                <option value="0">Seleccione una Opcion</option>
            </select>
        </div>
       <div>
           <label style="margin-left:40px;">Ciudad</label>
       </div>
        <div>
            <select id="ciudad" name="select" style="width:80%;margin-left:40px;">
                <option value="0">Seleccione una Opcion</option>
            </select>
        </div>
        <div>
            <input id="btnBuscar" type="button" style="background-color:salmon;color:white;width:80%" value="BUSCAR" />
        </div>
    </div>
    <div class="col-xs-6 text-center">
        <div>
            <p style="text-align:center;font-size:19px;color:blue;">Reporte</p>
        </div>
        <hr class="new1">
        
        <div class="row">
            <div class="col-xs-6">
                <div style="text-align:left">
                    <label style="font-size:11px;color:gray;" id="paisactual"></label>
                </div>
                <div style="text-align:left">
                    <label style="font-size:12px;color:gray;" id="ciudadactual"></label>
                </div>
                <div style="text-align:left">
                    <label style="font-size:15px;" id="diaactual"></label>
                </div>
                <div style="text-align:left">
                    <label style="font-size:12px;" id="estadoactual"></label>
                </div>

                <div style="text-align:left">
                    <label style="font-size:25px;" id="temperaturaactualc"></label>
                </div>
                <div style="text-align:left">
                    <label style="font-size:11px;" id="temperaturaactualf"></label>
                </div>

            </div>
            <div class="col-xs-6">
                <div style="text-align:left">
                    <img style="width:100px;margin-top:-33px;" id="imgactual" src="" />
                </div>
                <div style="text-align:left">
                    <label style="font-size:11px;" id="lluviasactual"></label>
                </div>
                <div style="text-align:left">
                    <label style="font-size:11px;" id="humedadactual"></label>
                </div>
                <div style="text-align:left">
                    <label style="font-size:11px;" id="vientoactual"></label>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row" style="background-color:white;">
    <div class="col-xs-2 box-content right2" style="width:20%;"  id="p1">
       <div class="diaHead">
           <label id="lunes"></label>
       </div>
       <div class="imageAttr">
           <img style="width:100px;" id="imgLunes" src="" />
       </div>
        <div class="lblGrados">
            <label id="gradosclunes"></label>
        </div>
        <div class="lblGrados">
            <label id="gradosflunes"></label>
        </div>
    </div>
    <div class="col-xs-2 col-half-offset box-content right2" style="width:20%" id="p2">
        <div class="diaHead">
            <label id="martes"></label>
        </div>
        <div class="imageAttr">
            <img style="width:100px;" id="imgMartes" src="" />
        </div>
        <div class="lblGrados">
            <label id="gradoscmartes"></label>
        </div>
        <div class="lblGrados">
            <label id="gradosfmartes"></label>
        </div>
    </div>
    <div class="col-xs-2 col-half-offset box-content right2" style="width:20%" id="p3">
        <div class="diaHead">
            <label id="miercoles"></label>
        </div>
        <div class="imageAttr">
            <img style="width:100px;" id="imgMiercoles" src="" />
        </div>
        <div class="lblGrados">
            <label id="gradoscmiercoles"></label>
        </div>
        <div class="lblGrados">
            <label id="gradosfmiercoles"></label>
        </div>
    </div>
    <div class="col-xs-2 col-half-offset box-content right2" style="width:20%" id="p4">
        <div class="diaHead">
            <label id="jueves"></label>
        </div>
        <div class="imageAttr">
            <img style="width:100px;" id="imgJueves" src="" />
        </div>
        <div class="lblGrados">
            <label id="gradoscjueves"></label>
        </div>
        <div class="lblGrados">
            <label id="gradosfjueves"></label>
        </div>
    </div>
    <div class="col-xs-2 col-half-offset box-content right2" style="width:20%" id="p5">
        <div class="diaHead">
            <label id="viernes"></label>
        </div>
        <div class="imageAttr">
            <img style="width:100px;" id="imgViernes" src="" />
        </div>
        <div class="lblGrados">
            <label id="gradoscviernes"></label>
        </div>
        <div class="lblGrados">
            <label id="gradosfviernes"></label>
        </div>
    </div>
</div>

<!-- Las columnas ocupan siempre la mitad de la pantalla, tanto en un
     móvil como en un ordenador de escritorio -->

